<section id="about">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header about-header">
         <!--  <h4>About</h4> -->
        </div>
        <!-- end module-header -->
      </div>
      <div class="span12 hero-unit text-center">
        <h1>Lorem ipsum dolor</h1>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta.<br>
          Vivamus mattis tempus aliquet.
          Donec non mauris a neque vulputate.</h4>
      </div>
      <!-- end hero-unit -->

      <!-- <div class="span12">
        <div class="divider-space"></div>
      </div> -->
      <!-- <div class="span4 text-center">
        <div class="icon-wrap large color1"><i class="iconf-lightbulb"></i> </div>
        <h3>The Vision</h3>
        <p>Donec risus augue, ultricies quis ornare ac, malesuada non augue. Ut venenatis tempus semper. Curabitur rhoncus, nulla sed rhoncus sollicitudin, dolor quam vehicula odio.</p>
      </div>
      <div class="span4 text-center">
        <div class="icon-wrap large color2"><i class="iconf-world"></i> </div>
        <h3>Meetings</h3>
        <p>Donec risus augue, ultricies quis ornare ac, malesuada non augue. Ut venenatis tempus semper. Curabitur rhoncus, nulla sed rhoncus sollicitudin, dolor quam vehicula odio.</p>
      </div>
      <div class="span4 text-center">
        <div class="icon-wrap large color3"><i class="iconf-beaker"></i> </div>
        <h3>Workshops</h3>
        <p>Donec risus augue, ultricies quis ornare ac, malesuada non augue. Ut venenatis tempus semper. Curabitur rhoncus, nulla sed rhoncus sollicitudin, dolor quam vehicula odio.</p>
      </div> -->
    </div>
    <!-- end row -->
  </div>
  <!--end container-->
</section>
