<section id="about">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header about-header">
         <!--  <h4>About</h4> -->
        </div>
        <!-- end module-header -->
      </div>
      <div class="span12 content-width hero-unit text-center">
        <h1>For today, you’re the user.</h1>
        <h3>And the product is great conversations with people like you who want to design a better web.</h3>
        <p>Let’s talk UX. We designed this event with you in mind. We dream in wireframes, too. And so do the five thought leaders waiting to mingle with you. Their talks are practical--real world tips and tricks you can put into action immediately. There’s no fluff. You’ll leave equipped and inspired to get back to doing what you do best.</p>
      </div>
      <!-- end hero-unit -->
    </div>
    <!-- end row -->
  </div>
  <!--end container-->
</section>
