<section id="tickets" class="white">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header contact-header">
          <h4>Tickets</h4>
        </div>
      </div>
    
      <div class="span12 hero-unit text-center white">
        <div class="ticket-regular">
          <h1>Regular Attendee</h1>
          <h2>$99</h2>
        </div>
        <div class="ticket-vip">
          <h1>VIP Attendee</h1>
          <h2>$149</h2>
        </div>
      </div>

   
    </div>

  </div>

</section>