<section id="tickets" class="white">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header contact-header">
          <h4>Tickets</h4>
        </div>
      </div>
    
      <div class="span12 hero-unit text-center white">
        <div class="ticket-regular">
          <h1>Regular Attendee</h1>
          <h2>$99</h2>
          <p>General Admission seating for the event<br>Free Admission to the official After Party</p>
        </div>
        <div class="ticket-vip">
          <h1>VIP Attendee</h1>
          <h2>$149</h2>
          <p><em><strong>VIP Brunch with the speaker of your choice (on our tab)</strong></em><br>
          VIP seating for the event<br> 
          Free Admission to the official After Party</p>
        </div>

        <div style="width:100%; text-align:left;" ><iframe  src="//eventbrite.com/tickets-external?eid=17066659839&ref=etckt" frameborder="0" height="510" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
      </div>

   
    </div>

  </div>

</section>
