---
layout: default
title: Become a Sponsor
---

<div id="detail-sponsor" class="secondary">
  <div>
    <section class="main-content">
      <h2>Become a Sponsor</h2>
      <p><b>Put your brand in front of influencers and decision-makers.</b></p>
      <p>Your sponsorship dollars help pay for travel and accomodations for our speakers, food and drinks at the event, signage, and helps keep ticket prices low for attendees.</p>
      <p>Few communities support each other like people who work on the Web. If you want to reach the people who help share the future of online products and services, you should get involved with Web.</p>
      <hr>
      <h3>Who Goes to These Things?</h3>
      <div class="row">
        <div class="col-md-8">
          <table class="demographics">
            <thead>
              <tr><td colspan="10">Age and Gender</td></tr>
            </thead>
            <tbody>
              <tr>
                <td class="blank">&nbsp;</td>
                <th>18-24</th>
                <th>25-34</th>
                <th>35-44</th>
                <th>45-54</th>
                <th>55-64</th>
                <th>65+</th>
              </tr>
              <tr>
                <th>Ladies (33%)</th>
                <td>4%</td>
                <td>14%</td>
                <td>9%</td>
                <td>5%</td>
                <td>2%</td>
                <td>0.5%</td>
              </tr>
              <tr>
                <th>Men (65%)</th>
                <td>10%</td>
                <td>27%</td>
                <td>19%</td>
                <td>6%</td>
                <td>1%</td>
                <td>1%</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-4">
          <table class="demographics">
            <thead>
              <tr><td colspan="3">Employment Type</td></tr>
            </thead>
            <tbody>
              <tr><th>47%</th><td>Corporate</td></tr>
              <tr><th>36%</th><td>Agency</td></tr>
              <tr><th>17%</th><td>Freelance</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <table class="demographics">
            <thead>
              <tr><td colspan="3">Job Roles</td></tr>
            </thead>
            <tbody>
              <tr><th>39.4%</th><td>Web Developer</td></tr>
              <tr><th>17.9%</th><td>Web Designer</td></tr>
              <tr><th>12.6%</th><td>User Experience Designer</td></tr>
              <tr><th>7.8%</th><td>Interface Designer</td></tr>
              <tr><th>6.4%</th><td>Project Manager</td></tr>
              <tr><th>3.9%</th><td>Creative Director</td></tr>
              <tr><th>3.6%</th><td>Web Director</td></tr>
              <tr><th>3.1%</th><td>Art Director</td></tr>
              <tr><th>2.5%</th><td>Information Architect</td></tr>
              <tr><th>2.3%</th><td>Visual Designer</td></tr>
              <tr><th>1.9%</th><td>Marketer</td></tr>
              <tr><th>1.7%</th><td>Content Strategist</td></tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <table class="demographics">
            <thead>
              <tr><td colspan="3">Purchasing Power</td></tr>
            </thead>
            <tbody>
              <tr><th>42%</th><td>Influence company purchases</td></tr>
              <tr><th>22%</th><td>Have purchasing authority</td></tr>
              <tr><th>58%</th><td>Buy their own hardware</td></tr>
              <tr><th>64%</th><td>Buy their own software</td></tr>
            </tbody>
          </table>
          <table class="demographics">
            <thead>
              <tr><td colspan="3">Activity</td></tr>
            </thead>
            <tbody>
              <tr><th>68%</th><td>Have a personal website/blog</td></tr>
              <tr><th>31%</th><td>Online over 10 years</td></tr>
              <tr><th>33%</th><td>Online over 5 years</td></tr>
              <tr><th>59%</th><td>Work from employer&rsquo;s office</td></tr>
              <tr><th>23%</th><td>Work from home</td></tr>
              <tr><th>19%</th><td>Work from co-working or other</td></tr>
              <tr><th>87%</th><td>Active on social networks</td></tr>
              <tr><th>43%</th><td>Prefer mobile to desktop</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <hr>
      <h3>Sponsorship Packages</h3>
      <p>Every sponsorship gets:</p>
      <ul>
        <li>a logo link on the event page</li>
        <li>text link in promo emails</li>
        <li>verbal recognition during the event</li>
        <li>a handful of social posts about your company</li>
      </ul>
      <p>As you might expect, higher sponsorship levels get bigger logos and more social posts.</p>
      <table class="packages">
        <tbody>
          <tr><th>$100</th><td>We&rsquo;ll give away your stickers, shirts or other swag on event day.</td></tr>
          <tr><th>$250</th><td><span>Everything above, plus:</span> 1 free ticket to the event.</td></tr>
          <tr><th>$500</th><td><span>Everything above, plus:</span> 2 free tickets, and your logo on a big sign at the event and in the screensaver slide rotation.</td></tr>
          <tr><th>$750</th><td><span>Everything above, plus:</span> We&rsquo;ll talk about your company on stage for a few minutes.</td></tr>
          <tr><th>$1000</th><td><span>Everything above, plus:</span> A dedicated email to all attendees about your company, and a table where you can give your stuff away.</td></tr>
          <tr><th>$1500</th><td><span>Everything above, plus:</span> Your logo on several big signs at the event, and on table tents during one of the activities.</td></tr>
          <tr><th>$2000</th><td><span>Everything above, plus:</span> 4 free tickets, even more big signs, verbal thank you for all the drinks and snacks, 5 minutes on stage to tell a story about what you do.</td></tr>
          <tr><th>$2500</th><td><span>Everything above, plus:</span> Mentions in the opening remarks, at each break, and in closing remarks, a co-branded Web Afternoon / Your Company t-shirt for every attendee, PLUS; we&rsquo;ll work with you to create a special way to promote you at the event.</td></tr>
        </tbody>
      </table>
      <hr>
      <h3>Let&rsquo;s Do This!</h3>

      <form id="form16" name="form16" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://ninelabs.wufoo.com/forms/z1dde4l21u4p1pj/#public">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="desc" id="title8" for="Field8">Your Name</label>
              <input id="Field8" name="Field8" type="text" class="form-control" value="" maxlength="255" tabindex="1" onkeyup="" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="desc" id="title3" for="Field3">Email</label>
              <input id="Field3" name="Field3" type="email" spellcheck="false" class="form-control" value="" maxlength="255" tabindex="3" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="desc" id="title4" for="Field4">Company Name</label>
              <input id="Field4" name="Field4" type="text" class="form-control" value="" maxlength="255" tabindex="4" onkeyup="" required />
            </div>
            <div class="form-group">
              <label class="desc" id="title5" for="Field5">Website</label>
              <input id="Field5" name="Field5" type="url" class="form-control" value="" maxlength="255" tabindex="5" required />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="desc" id="title5" for="Field10">Twitter Handle</label>
              <input id="Field5" name="Field10" type="url" class="form-control" value="" maxlength="255" tabindex="6" required />
            </div>
            <div class="form-group">
              <label class="desc" id="title5" for="Field14">Description of your company for social posts (120 chars)</label>
              <textarea id="Field14" name="Field14" class="field textarea form-control" spellcheck="true" rows="3" cols="20" tabindex="6" required></textarea>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="desc" id="title5" for="Field15">A paragraph about your company for the promo emails</label>
          <textarea id="Field15" name="Field15" class="field textarea form-control" spellcheck="true" rows="5" cols="50" tabindex="7" required></textarea>
        </div>
        <label>How much do you love the Web?</label>
        <input id="radioDefault_12" name="Field12" type="hidden" value="" />
        <div class="radio"><input id="Field12_0" name="Field12" type="radio" class="field radio" value="$100" tabindex="8" required /><label class="choice" for="Field12_0" >$100 <img src="/img/grin.png"></label></div>
        <div class="radio"><input id="Field12_1" name="Field12" type="radio" class="field radio" value="$250" tabindex="9" required /><label class="choice" for="Field12_1" >$250 <img src="/img/grin.png"> <img src="/img/grin.png"></label></div>
        <div class="radio"><input id="Field12_2" name="Field12" type="radio" class="field radio" value="$500" tabindex="10" checked="checked" required /><label class="choice" for="Field12_2">$500 <img src="/img/grin.png"> <img src="/img/grin.png"> <img src="/img/smile.png"></label></div>
        <div class="radio"><input id="Field12_3" name="Field12" type="radio" class="field radio" value="$750" tabindex="11" required /><label class="choice" for="Field12_3" >$750 <img src="/img/smile.png"> <img src="/img/smile.png"> <img src="/img/smile.png"> <img src="/img/smile.png"></label></div>
        <div class="radio"><input id="Field12_4" name="Field12" type="radio" class="field radio" value="$1000" tabindex="12" required /><label class="choice" for="Field12_4" > $1000 <img src="/img/smile.png"> <img src="/img/smile.png"> <img src="/img/smile.png"> <img src="/img/smile.png"> <img src="/img/smile.png"> </label></div>
        <div class="radio"><input id="Field12_5" name="Field12" type="radio" class="field radio" value="$1500" tabindex="13" required /><label class="choice" for="Field12_5"> $1500 <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"></label></div>
        <div class="radio"><input id="Field12_6" name="Field12" type="radio" class="field radio" value="$2000" tabindex="14" required /><label class="choice" for="Field12_6">$2000 <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"></label></div>
        <div class="radio"><input id="Field12_7" name="Field12" type="radio" class="field radio" value="$2500" tabindex="15" required /><label class="choice" for="Field12_7" > $2500  <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"> <img src="/img/smitten.png"></label></div>
        <hr>
        <p>When you click this button you'll be taken to a page where you can pay for your sponsorship. After that, we'll contact you to sort out all the details.</p>
        <input id="saveForm" name="saveForm" class="btn btn-primary" type="submit" value="Sign Me Up to Sponsor!" />
        <input type="hidden" id="idstamp" name="idstamp" value="kIXmPuTQ50//xrrp52b1ppVb9VKP5AmtMDtzRjcF7s0=" />
      </form>
    </section>
    <aside class="sidebar">
      <h4>Want to host?</h4>
      <p>You can bring Web Afternoon to your city.</p>
      <p><a class="btn btn-success" href="/host/">Find out how</a></p>
      <hr>
      <h4>Speak at an Upcoming Event</h4>
      <p>We&rsquo;re looking for fresh faces and new ideas.</p>
      <p><a class="btn btn-success" href="/speak/">Find out how</a></p>
    </aside>
  </div>
</div>