<div id="awesome-sauce" class="container emcee">
  <div class="row">
    <div class="five columns">
      <img src="/img/carl-bw.jpg" alt="Carl Smith!">
    </div>
    <div class="seven columns">
      <h4>Carl Smith &ndash; Your Host With the Most</h4>
      <p>He's one of our favorite people, and after meeting him at Web Afternoon he'll be one of yours, too.</p>
      <p>Carl brings an energy and enthusiasm for design, business, and the people who make it all happen that's unmatched in the industry.</p>
    </div>
  </div>
</div>
