<section id="get-notified">
  <div class="container">
    <div class="row" style="text-align:center">

      <h1>You're in there!</h1>
      <p style="font-size:1.4em">You'll be among the first to know when pre-release tickets for the next Web Afternoon go on sale.</p>
      <hr>
      <p style="font-size:1.2em">Until then, here's a cute kitten</p>
      <iframe src="//giphy.com/embed/Puc4FZWExJc0E" width="480" height="358" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/kitten-tube-Puc4FZWExJc0E">via GIPHY</a></p>
    </div>
  </div>
</section>