<section id="get-notified">
  <div class="container">
    <div class="row" style="text-align:center">

      <h2>Get notified when Pre-release Tickets are available</h2>

      <form accept-charset="UTF-8" action="https://il258.infusionsoft.com/app/form/process/69aa602cb4702562a0f163064f7fe902" class="infusion-form" method="POST">
        <input name="inf_form_xid" type="hidden" value="69aa602cb4702562a0f163064f7fe902" />
        <input name="inf_form_name" type="hidden" value="Sign up for newsletter" />
        <input name="infusionsoft_version" type="hidden" value="1.45.0.46" />
        <div class="infusion-field">
          <!-- <label for="inf_field_FirstName">First Name</label> -->
          <input class="infusion-field-input-container" id="inf_field_FirstName" name="inf_field_FirstName" type="text" placeholder="First Name" />
        </div>
        <div class="infusion-field">
          <!-- <label for="inf_field_Email">Email</label> -->
          <input class="infusion-field-input-container" id="inf_field_Email" name="inf_field_Email" type="text"placeholder="Email" />
        </div>
        <div class="infusion-submit">
          <input type="submit" value="I Want the Discount - Notify Me" class="btn" />
        </div>
      </form>
      <script type="text/javascript" src="https://il258.infusionsoft.com/app/webTracking/getTrackingCode?trackingId=7ee1dd5e04add73e753833d167f5f088"></script>

    </div>
  </div>
</section>