<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="span12 text-center"> <img src="images/logo-footer.png">
        <div class="social-footer">
          <a href="https://twitter.com/webafternoon"><i class="fa fa-twitter-square"></i></a>
          <a href="https://www.facebook.com/webafternoon"><i class="fa fa-facebook-square"></i></a>
        </div>
        <div class="copyright">
          <a href="code-of-conduct.html"><p>Code of Conduct</p></a>
          <p>Web Afternoon is brought to you by <a href="https://ninelabs.com">Nine Labs</a><br>© 2015 All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>