<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Web Afternoon" />
  <meta property="og:url" content="http://webafternoon.com" />
  <meta property="og:title" content="Web Afternoon - Design Edition" />
  <meta property="og:description" content="We’ve strong-armed some of the industry’s finest to spend the day talking all things design and typography, in hopes it helps you, the designer, be even better at your job." />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://webafternoon.com/img/wa-lineup.jpg" />
  <script src="//use.typekit.net/inj1qkm.js"></script>
  <script>try {Typekit.load({async: true});}catch(e){}</script>
</head>
