<div class="container">
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <header class="row masthead">
    <div class="12 columns">
      <h1>Web Afternoon</h1>
      <h2>Design Edition</h2>
      <p class="leader"><span class="detail">February 26th &mdash; 1-6pm</span> <span class="separator">&middot;</span> <span class="detail">The Garage at Tech Square</span> <span class="separator">&middot;</span> <span class="detail">Atlanta, GA</span></p>
      <a class="register-button" href="#tickets">Get My Tickets</a>
    </div>
  </header>
</div>
