<div class="container header-minimal">
  <header class="row">
    <div class="eight columns">
      <a href="/"><h1>Web Afternoon</h1>
      <span class="head-divider"> | </span>
      <h2>Design Edition</h2></a>
      <p class="leader">
        <span class="detail">February 26th &ndash; 1-6pm</span>
        <span class="separator">&middot;</span>
        <span class="detail">The Garage at Tech Square</span>
        <span class="separator">&middot;</span>
        <span class="detail">Atlanta, GA</span>
      </p>
    </div>
    <div class="four columns">
      <a class="register-button" href="/register/">Get My Tickets</a>
    </div>
  </header>
</div>
