<div class="container">
  <section class="row what-to-expect">
    <article class="twelve columns">
      <h2>What to Expect</h2>
      <p>Web Afternoon is known for its amazing lineup of speakers, and you can expect more of the same at this winter’s Design Edition. We’ve strong-armed some of the industry’s finest to spend the day talking all things design and typography, in hopes it helps you, the designer, be even better at your job.</p>
    </article>
  </section>

  <div id="web-afternoon-logo">
    <img src="/img/web-afternoon-logo-200w.png" alt="Web Afternoon Logo">
    <hr>
  </div>
</div>
