<div class="container">
  <section class="row what-to-expect">
    <article class="twelve columns">
      <h2>What to Expect</h2>
      <p>We&rsquo;ve strong-armed some of the industry&rsquo;s finest talent to spend the day talking all things design and typography, all in order to help you, the designer, be even better at your job.</p>
      <h4>What You&rsquo;ll Learn:</h4>
      <ul class="topics">
        <li>Design Processes that Actually Work</li>
        <li>The Future of Web Typography</li>
        <li>How to Make Today&rsquo;s Tools Work for You</li>
        <li>Getting Back to the Work You Love</li>
      </ul>
    </article>
  </section>

  <div id="web-afternoon-logo">
    <img src="/img/web-afternoon-logo-200w.png" alt="Web Afternoon Logo">
    <hr>
  </div>
</div>
