<div class="container">
  <div class="row">
    <h2>Design Leadership Panel</h2>
  </div>
  <div class="row panelists">
    <div class="four columns panelist">
      <a href="/rick-anwyl.html"><img src="/img/rickanwyl.jpg" alt="Rick Anwyl"></a>
      <div class="speakerinfo">
        <p><a href="/rick-anwyl.html">Rick Anwyl</a> <small>Owner - Anwyl Ltd</small></p>
      </div>
    </div>
    <div class="four columns panelist">
      <a href="/chris-coleman.html"><img src="/img/chriscoleman.jpg" alt="Chris Coleman"></a>
      <p><a href="/chris-coleman.html">Chris Coleman</a> <small>Owner - Green Banana Project</small></p>
    </div>
    <div class="four columns panelist">
      <a href="/hank-richardson.html"><img src="/img/hankrichardson.jpg" alt="Hank Richardson"></a>
      <p><a href="/hank-richardson.html">Hank Richardson</a> <small>Director of Design - Portfolio Center</small></p>
    </div>
  </div>
  <div class="row panelists">
    <div class="four columns panelist">
      <a href="/matt-smith.html"><img src="/img/mattsmith.jpg" alt="Matt Smith"></a>
      <p class="name"><a href="/matt-smith.html">Matt Smith</a> <small>Owner - MDS Design Studio</small></p>
    </div>
    <div class="four columns panelist">
      <a href="/zia-kahn.html"><img src="/img/ziakahn.jpg" alt="Zia Kahn"></a>
      <p><a href="/zia-kahn.html">Zia Kahn</a> <small>Owner - Lucid USA</small></p>
    </div>
  </div>
</div>
