<div class="container">
  <div class="row">
    <h2>Design Leadership Panel</h2>
  </div>
  <div class="row panelists">
    <div class="four columns panelist">
      <img src="/img/rickanwyl.jpg" alt="Rick Anwyl">
      <div class="speakerinfo">
        <p>Rick Anwyl <small>Owner - Anwyl Ltd</small></p>
      </div>
    </div>
    <div class="four columns panelist">
      <img src="/img/chriscoleman.jpg" alt="Chris Coleman">
      <p>Chris Coleman <small>Owner - Green Banana Project</small></p>
    </div>
    <div class="four columns panelist">
      <img src="/img/hankrichardson.jpg" alt="Hank Richardson">
      <p>Hank Richardson <small>Director of Design - Portfolio Center</small></p>
    </div>
  </div>
  <div class="row panelists">
    <div class="four columns panelist">
      <img src="/img/mattsmith.jpg" alt="Matt Smith">
      <p class="name">Matt Smith <small>Owner - MDS Design Studio</small></p>
    </div>
    <div class="four columns panelist">
      <img src="/img/ziakahn.jpg" alt="Zia Kahn">
      <p>Zia Kahn <small>Owner - Lucid USA</small></p>
    </div>
  </div>
</div>
