<div class="container">

  <section id="tickets">
    <header class="row">
      <div class="twelve columns">
        <h2>Ticket Info</h2>
      </div>
    </header>

    <div class="row">
      <article class="ticket-box attendee-ticket">
        <div>
          <h4 class="ticketheader">Attendee Ticket</h4>
          <div class="ticketinfo">
            <p>Take part in Web Afternoon, where you&rsquo;ll hear from amazingly talented industry thought leaders on all things design and typography.</p>
            <ul>
              <li>General Admission seating</li>
              <li>Free drinks &amp; snacks during the event</li>
              <li>Free WiFi all day</li>
              <li>Free access to the after-party</li>
            </ul>
          </div>
          <div class="ticket-prices">
            <p class="ticketprice">Regular: $129 </p>
            <p class="ticketprice early-bird">Early-bird: $99 </p>
          </div>
        </div>
      </article>
      <article class="ticket-box vip-ticket">
        <div>
          <h4 class="ticketheader">VIP Ticket</h4>
          <div class="ticketinfo">
            <p>Everything from the Attendee Ticket, plus:</p>
            <ul>
              <li>Brunch with the speaker of your choice</li>
              <li>Access to the VIP / Speaker&rsquo;s Lounge </li>
              <li>Early access to the venue</li>
              <li>Reserved / Priority seating at the event</li>
              <li>Free parking all day</li>
            </ul>
          </div>
          <div class="ticket-prices">
            <p class="ticketprice">Regular: $179 </p>
            <p class="ticketprice early-bird">Early-Bird: $149 </p>
          </div>
        </div>
      </article>
    </div>
  </section>

  <div class="row">
    <div class="twelve columns">
      <iframe id="eventbrite" src="//eventbrite.com/tickets-external?eid=19931440475&ref=etckt&discount=earlybird" frameborder="0" marginheight="5" marginwidth="5" scrolling="no" allowtransparency="true"></iframe>
      <div id="eventbrite-alt">
        <a class="register-button" href="https://www.eventbrite.com/e/web-afternoon-design-edition-tickets-19931440475?discount=earlybird">Register on Eventbrite</a>
      </div>
    </div>
  </div>

</div>
