<section class="schedule">
  <div class="container">
    <h2>Schedule:</h2>
    <table class="u-full-width">
      <tbody>
        <tr class="social">
          <td class="talk-time">10:30 am</td>
          <td colspan="2">VIP Brunch with the Speakers &mdash; <a href="/register/">Get Your Ticket</a></td>
        </tr>
        <tr class="break">
          <td class="talk-time">12:00 pm</td>
          <td>Doors Open at The Garage</td>
        </tr>
        <tr class="talk">
          <td class="talk-time">1:00 pm</td>
          <td class="talk-info">
            <h4 class="talk-title">Celebrate the Process of Getting Things Done</h4>
            <h5 class="talk-speaker">with <a href="/becky-simpson.html">Becky Simpson</a></h5>
            <p>We live in a world of information overload. We’re constantly forced to curate our lives, because we know that if we don’t, someone else will. Those of us who have found our home in creative industries are also learning how to hone our skills, manage our time and coddle the vision that got us here in the first place.</p>
            <p>So with all of these distractions and opportunities, how do you force yourself to stay focused and just get the work done? Becky will talk about how she wrote and illustrated two books, created a backlog of art for 100 days and how she's building a product company based on her illustrations. She will share her six game-changing lessons that anyone can use to prioritize focus, hunker down and get started creating.</p>
          </td>
        </tr>
        <tr class="talk">
          <td class="talk-time">2:00 pm</td>
          <td class="talk-info">
            <h4 class="talk-title">Performance, Proportion & Polish on Every Device</h4>
            <h5 class="talk-speaker">with <a href="/jason-pamental.html">Jason Pamental</a></h5>
            <p>Typography is the single most present element of your design when screen size changes, and has the greatest influence on readability and retention. Learn how to use web fonts to amplify the message and voice of your design without sacrificing performance, how to scale your typography based on screen size, and how little details layered together make a good experience become a great one.</p>
            <p>This talk will cover a number of topics, with exercises to work through each one. We’ll work through how to implement web fonts properly for best performance and progressive enhancement, whether self-hosting fonts or using a service. We’ll also look at how screen size impacts typographic scale, with sample code that includes a modular scale to start with. Finally we’ll cover a number of ideas to leverage such as OpenType Features, CSS equivalents of typographic techniques, and troubleshooting tips.</p>
          </td>
        </tr>
        <tr class="break">
          <td class="talk-time">2:40 pm</td>
          <td>Networking and Refreshments</td>
        </tr>
        <tr class="talk">
          <td class="talk-time">3:00 pm</td>
          <td class="talk-info">
            <h4 class="talk-title">Remember Why You Started</h4>
            <h5 class="talk-speaker">with <a href="/tara-victoria.html">Tara Victoria</a></h5>
            <p>To remain authentic in a world of social media popularity, rapidly growing businesses and viral fame, it is imperative that we constantly reflect on our beginnings - our where, our why, and and our how. True passion holds story at it's core and the very expression of our stories can become the reason clients relate and gravitate towards working with us. As our creative journey unfolds and we grow from where we started, our why constantly evolves. When our why's take new shapes, our process can be directly affected. This talk sheds light on the idea of looking inward at the fire for a creative life, why we should never settle, and most importantly the great significance of our stories.</p>
          </td>
        </tr>
        <tr class="panel">
          <td class="talk-time">3:40 pm</td>
          <td class="talk-info">
            <h4 class="talk-title">Design Leadership Panel</h4>
            <h5 class="talk-speaker">A Handful of Respected Atlanta Designers</h5>
            <p>When it comes to design, nothing trumps experience. Our panelists come from a wide range of backgrounds, and each has a unique approach to the industry. They’ll cover how to handle tough clients, stand up for your work, and stay focused in the midst of pressure.*</p>
          </td>
        </tr>
        <tr class="break">
          <td class="talk-time">4:30 pm</td>
          <td>Networking and Refreshments</td>
        </tr>
        <tr class="talk">
          <td class="talk-time">5:00 pm</td>
          <td class="talk-info">
            <h4 class="talk-title">Souls & Machines&colon; Designing the Future of Content</h4>
            <h5 class="talk-speaker">with <a href="/hannah-donovan.html">Hannah Donovan</a></h5>
            <p>Not too long ago, it seemed like big data and collaborative filtering were going to solve our desires for discovery and inspiration. At the same time, platforms dedicated to new methods of self expression – music, writing, video etc. – have matured, and their new forms of content have become mainstays of our culture.</p>
            <p>Today, content companies are adapting to become digital products, and tech companies are learning to make content. How does a product designer navigate this changing landscape? What are the answers to questions like “humans vs. computers”; “pro vs. user-generated content”; and “opinion vs. democracy”? This and more will be answered through case studies, experiments and of course, stories. Come to learn, stay for the fun :)</p>
          </td>
        </tr>
        <tr class="talk">
          <td class="talk-time">5:40 pm</td>
          <td class="talk-info">
            <h4 class="talk-title">Designing for Happy Companies</h4>
            <h5 class="talk-speaker">with <a href="/meg-lewis.html">Meg Lewis</a></h5>
            <p>Or&hellip; <em>How Getting Weird and Finding a Purpose Created a Design Mission</em> &mdash; Meg Lewis, the world’s happiest person, shares her hilarious life journey and how it led to finding her purpose. Meg will discuss the benefits of leveraging your quirks to create a career mission. You’ll laugh and cry your way to a happy ending during this unconventional, fun talk!</p>
          </td>
        </tr>
        <tr class="social">
          <td class="talk-time">6:30 pm</td>
          <td>After Party at The Awesome Room</td>
        </tr>
      </tbody>
    </table>

  </div>
</section>
