<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header speakers-header">
          <h4>Speakers</h4>
        </div>
        <!-- end module-header -->
      </div>
      <div class="span12 hero-unit text-center white">
        <h2>Learn From These Great Folks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.</p>
      </div>
      <!-- end hero-unit -->
 


    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>