<section id="speakers">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header speakers-header">
          <h4>Speakers</h4>
        </div>
        <!-- end module-header -->
      </div>
      <div class="span12 content-width hero-unit text-center white">
        <h1>Learn From These Great Folks</h1>
      </div>
      <!-- end hero-unit -->
      <div class="speakers">
        <div class="speaker1">
          <img src="images/jacklyn.jpg">
          <h2>Jacklyn Burgan</h2>
          <h3>UX Strategist</h3>
          <h3> Coca-Cola Company</h3>
          <p>Jacklyn is a user experience researcher at Pardot, a Salesforce company. She’s passionate about usability, empathetic design and collaboration. She organizes the Atlanta chapter of Ladies That UX and loves to dance.</p>
        </div> <!-- end speaker 1   -->
         <div class="speaker1">
          <img src="images/jess.jpg">
          <h2>Jess Eddy</h2>
          <h3>Independent UX Professional</h3>
          <h3>JE Design Consulting, LLC</h3>
          <p>Jess is a User Experience consultant and digital product designer in NYC. She’s worked with Lab49, Arc90 and kbs+. She believes great customer service applied to design makes for great experiences.</p>
        </div> <!-- end speaker 1   -->
         <div class="speaker1">
          <img src="images/adam.jpg">
          <h2>Adam Conner</h2>
          <h3>VP Organizational Design & Training</h3>
          <h3> Mad*Pow</h3>
          <p>Adam is obsessed with storytelling. As a designer at Mad*Pow, Adam uses his interaction design experience and background in CS, film, and animation to create effective and easy-to-use digital products and services.</p>
        </div> <!-- end speaker 1   -->
      
        <div class="speaker1">
          <img src="images/joel.jpg">
          <h2>Joel Beukelman</h2>
          <h3>Interaction Designer</h3>
          <h3>Google</h3>
          <p>Joel is a UX Designer on Android and a SoCal native. He hosts The Balance Podcast. Previous employers include Netflix and AppStack. In addition to design, he loves craft beer and tattoos.</p>
        </div> <!-- end speaker 1   -->
         <div class="speaker1">
          <img src="images/speaker1.jpg">
          <h2>Joe Johnson</h2>
          <h3>CEO Amazon</h3>
          <h3>CEO Amazon</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.</p>
        </div> <!-- end speaker 1   -->
         <div class="speaker1">
          <img src="images/speaker3.jpg">
          <h2>Joe Johnson</h2>
          <h3>CEO Amazon</h3>
          <h3>CEO Amazon</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.</p>
        </div> <!-- end speaker 1   -->

         <div class="speaker1">
          <img src="images/speaker2.jpg">
          <h2>Joe Johnson</h2>
          <h3>CEO Amazon</h3>
          <h3>CEO Amazon</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.</p>
        </div> <!-- end speaker 1   -->
         <div class="speaker1">
          <img src="images/speaker1.jpg">
          <h2>Joe Johnson</h2>
          <h3>CEO Amazon</h3>
          <h3>CEO Amazon</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.</p>
        </div> <!-- end speaker 1   -->
         <div class="speaker1">
          <img src="images/speaker3.jpg">
          <h2>Joe Johnson</h2>
          <h3>CEO Amazon</h3>
          <h3>CEO Amazon</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus iaculis porta. Vivamus mattis tempus aliquet.</p>
        </div> <!-- end speaker 1   -->

      </div> <!-- end speakers -->


    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<section id="brunch">
  <div class="container">
    <div class="row">    

      <div class="brunch content-width">
          <h1>Want to get really up close and personal?</h1>
          <p>Purchase a VIP pass to enjoy an exclusive brunch with your UX hero and get reserved seating for the afternoon of talks. There are only 9 seats at the table--and they're first come, first served--so buy your ticket now to make sure your name's on the list.</p>
        </div>

    </div>
  </div>
</section>