<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="module-header sponsors-header">
          <h4>Sponsors</h4>
        </div>
      </div>
      <!-- end module-header -->
      <div class="span12 hero-unit text-center">
        <h1>Thanks To Our Sponsors</h1>
      </div>
      <!-- end hero-unit -->
     
      <!-- end span12 -->
      <div class="sponsor-logos">
        <div class="span4 text-center"><img src="images/sponsors/ninelabs-logo.png" alt="" class="sponsor-logo"></div>
        <div class="span4 text-center"> <img src="images/sponsors/mailchimp-logo.png" alt="" class="sponsor-logo"></div>
        <div class="span4 text-center"><img src="images/sponsors/awdg-logo.png" alt="" class="sponsor-logo"></div>
        <div class="span4 text-center"><img src="images/sponsors/polygon-logo.png" alt="" class="sponsor-logo"></div>
        <div class="span4 text-center"><img src="images/sponsors/hype-logo.png" alt="" class="sponsor-logo"></div>
      </div>

      <div class="sponsor-btn">
        <a href="sponsors-page.html"><button>Become a Sponsor</button></a>
      </div>

    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>