<div class="container">

  <header class="row">
    <div class="twelve columns">
      <h2>Sponsors</h2>
    </div>
  </header>

  <section class="row">
    <a href="http://www.sandboxcrew.com/" target="_blank" class="four columns sponsor">
      <img src="/img/sandbox_300.png" alt="Sandbox Crew">
    </a>
    <a href="http://www.strongboxwest.com/" target="_blank" class="four columns sponsor">
      <img src="/img/strongbox_300.png" alt="Strongbox West">
    </a>
    <a href="http://www.synergiscreative.com/" target="_blank" class="four columns sponsor">
      <img src="/img/sync_300.png" alt="Sync">
    </a>
  </section>

</div>
