<section class="venue">
  <div class="container">
    <div class="row">
      <div class="eight columns venue-info">
        <h3>
          <span>The Garage</span> at Tech Square</h3>
        <div class="venue-details">
          <p>The Garage at Tech Square is a brand-new event venue in the heart of Atlanta. The soft-seating club vibe draws a cool contrast with the industrial-inspired room, which offers a full stage setup and plenty of space for large crowds.</p>
          <a href="https://goo.gl/maps/U4RjgivZkLB2">
            <img src="img/venue-map.jpg" alt="The Garage at Tech Square">
            <p>848 Spring St., Atlanta, GA 30308</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row venue-nearby">
      <div class="six columns">
        <h5>Parking</h5>
        <p>
          <strong>VIPs PARK FOR FREE!</strong> Yep. <a href="/register/">Get a VIP Ticket</a> and we'll cover your parking costs in the deck.</p>
        <p>
          <strong>DECK PARKING</strong> Tech Square does offer parking in two different decks; hourly rates max out at a $15 flat fee for the entire day.</p>
        <p>
          <strong>STREET PARKING</strong> The Tech Square area has lots of street parking available, and it’s all metered. If you choose to park on the street, be SURE you feed the meter. Otherwise you’ll end up with a pretty yellow envelope on your windshield
          that’ll cost you a pretty penny when you go to pay the ticket.</p>
      </div>
      <div class="six columns">
        <h5>Hotels</h5>
        <p>All recommended hotels are within walking distance to Tech Square, as well as to a MARTA train station that offers direct airport connections.</p>
        <p>
          <strong><a href="http://www.gatechhotel.com/">GEORGIA TECH HOTEL</a></strong> 3 star rooms from $109
          <br>800 Spring St NW, Atlanta, GA 30308
          <br>ph: (404) 347-9440</p>
        <p>
          <strong><a href="http://hiltongardeninn3.hilton.com/en/hotels/georgia/hilton-garden-inn-atlanta-midtown-ATLAMGI/index.html">HILTON GARDEN INN</a></strong> 3 star rooms from $109
          <br>97 10th St NW, Atlanta, GA 30309
          <br>ph: (404) 524-4006</p>
        <p>
          <strong><a href="http://www.marriott.com/hotels/travel/atlmt-residence-inn-atlanta-midtown-georgia-tech/">RESIDENCE INN</a></strong> 3 star rooms from $109
          <br>1041 West Peachtree St NW, Atlanta, GA 30309
          <br>ph: (404) 872-8885</p>
        <p>
          <strong><a href="http://hamptoninn3.hilton.com/en/hotels/georgia/hampton-inn-atlanta-georgia-tech-downtown-ATLGTHX/index.html">HAMPTON INN ATLANTA</a></strong> 2 star rooms from $99
          <br>244 North Avenue NW, Atlanta, GA 30313
          <br>ph: (404) 881-0881</p>
      </div>
    </div>
</section>
