////////////////////////////////////////////////////////////////////
// WEB AFTERNOON -=- styles.scss

@import 'variables','../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss','responsive','mixins';

html,body {
  height: 100%;
}

//////////////////////////
// Typography
//////////////////////////

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

h1, h2, h3 {
  color: #2d2d2d;
  font-family: $font-family-sans-serif;
  font-weight: bold;
}
h4 {
  color: $gray;
  font-weight: bolder;
}
p,li {
  font-family: $font-family-serif;
  font-size: 24px;
  line-height: 1.45em;
}
label {
  font-family: $font-family-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.45em;
}


//////////////////////////
// Structure
//////////////////////////

body {
  background: url(/img/bg-wrap.jpg) center top;
  color: $gray-darker;
  bacground-size: cover;
  padding:0;
  margin:0;
}

#content {
  background-color: #fff;
  padding-bottom: 4em;
  padding-top: 2em;
  .secondary {
    @extend .container;
    margin:3em auto 2em;
    &>div{
      @include make-row();
    }
    .main-content {
      @include make-md-column(9);
    }
    .sidebar {
      @include make-md-column(3);
    }
  }
}

#events {
  h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: .5em;
    margin-bottom: 1em;
    text-align: center;
  }
  .grid {
    @include make-row();
    figure.event {
      @include make-sm-column(3);
      margin-bottom: 3em;
      text-align: center;
      figcaption {
        .event-city {
          display: block;
          font-size: 1.3em;
          font-weight: bold;
        }
      }
      img {
        @extend .img-thumbnail;
      }

    }
  }
}

//////////////////////////////////////////////////////////
//// Demographics Tables

.demographics, .packages {
  @extend .table;
  margin-bottom:2em;
  width:100%;
  thead {
    td {
      color: $gray-light;
      font-size: 1.4em;
    }
  }
  th,td {
    font-size: 1.25em;
    padding: 5px 12px;
  }
  th {
    background-color: lighten($brand-secondary,50%);
    color: $gray-light;
    font-weight: normal;
    vertical-align: top;
  }
  tbody th, tbody td {
    border: 1px solid #ddd;
    &.blank {
      border: none;
    }
  }
}

.packages{
  tbody th {
    color: $gray-darker;
    font-weight: bold;
  }
  td span {
    color: $gray-light;
    font-style: italic;
  }
}



//////////////////////////////////////////////////////////
////  ATL EVENT PAGE -- Default.html
//////////////////////////////////////////////////////////

#content {
  padding-top: 0px;
  padding-bottom: 0px;
}

section {
  @include make-row();
  padding: 0px;
  margin: 0 auto;
}


///////////////////////////////////////////
////  PARTNER KIT
///////////////////////////////////////////
 .intro-paragraph {
  padding-bottom: 40px;
 }

 .sub-section {
  padding: 15px 0px 20px 0px;
 }

.facebook {
  padding-bottom: 35px;
}

.email {
  padding: 20px 0px;
}

.graphics img {
  padding: 10px 0px;
    @include breakpoint(xs) {
      width: 80%;
    }
}

//////////////////////////
// Globals
//////////////////////////

.section-heading {
  @include make-row();
  border-bottom: 1px solid #ddd;
  .section-heading-content {
    @include make-sm-column(12);
    h1, h2, h3 {
      color: $brand-primary;
    }
  }
}

.highlight {
  margin-bottom:2em;
  text-align: center;
  p {
    font-size: 1.25em;
    margin:0;
    padding:0;
  }
}

.info-block {
  @include make-sm-column(4);
  h3, h4 {
    color: $gray;
    .fa {
      color: $brand-primary;
    }
  }
}

@import
  "header",
  "intro",
  "speakers",
  "info",
  "sponsors",
  "subscribe",
  "sponsors",
  "tickets",
  "footer";

// END
////////////////////////////////////////////////////////////////////