// Main Styles for the Web Afternoon

$primary: #EB3B86;

html {
  color: red;
  font-size: 1em;
  line-height: 1.35em;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

///////////////////////////////////////////////////////////////////////
// Branding

#web-afternoon-logo {
  text-align: center;
  img {
    // width: 200px;
    @include breakpoint(xs){
      width:100px;
    }
  }
}



///////////////////////////////////////////////////////////////////////
// Header

header {
  background-color: #030387;
  color: #fff;
  padding-top:2em;

}

.event {
  background-image: url("/img/event-blue.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  color:#fff;
  .container {
    padding-top:3em;
    padding-bottom:3em;
  }
  img.logo {
    width:150px;
  }
  p {
    font-size: 24px;
  }
  a {
    color: $primary;
  }
}


///////////////////////////////////////////////////////////////////////
// Footer
footer {
  color: #444;
  padding-top: 2em;
  a, a:hover { color: #EB3B86 }
  h5 {
    font-size: 1.2em;
    margin-top: 1em;
  }
  .copyright {
    font-size:.9em;
  }
  .nllogo {
    width:90px;
  }
}
